.jobs-portal {
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.compartment-1 {
  width: 100%;
  background-color: #1a253c;
  height: 40%;
}

.compartment-2 {
  width: 100%;
  background-color: #edf6ff;
  height: 60%;
}

.jobs-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}