.navbar {
    /* padding: 0.5rem 4rem 0 4rem; */
    /* margin: auto; */
    padding-top: 1rem;
    color: #fff;
    border-bottom: 2px solid #4D618E;
    width: 85%;
    font-family: 'Helvetica 65 Bold', sans-serif;
    font-size: 22px;
    position: fixed;
    top: 0px;
    left: 6rem;
    z-index: 999;
}

.title {
    color: #43AFFF;
}

.navbar-login-btn {
    color: #FFFFFF;
    font-size: 16px;
    padding: 0.8rem 3.5rem;
    background-color: #33557f;
    border: 1px solid #43AFFF;
    border-radius: 4px;
}