.login {
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.compartment-1 {
  width: 100%;
  background-color: #1a253c;
  height: 40%;
}

.compartment-2 {
  width: 100%;
  background-color: #edf6ff;
  height: 60%;
}

.login-form {
  color: #303f60;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 35%;
  height: 52%;
  transform: translate(-50%);
  background-color: #ffffff;
  font-family: "Helvetica 65 Bold", sans-serif;
  font-size: 22px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: #557da526 0px 7px 29px 0px;
}

.login-form-subheading {
  font-size: 14px;
  width: 80%;
}

.login-form-input {
  color: #c6c6c6;
  font-size: 12px;
  background-color: #e8e8e833;
}

.error-message {
  font-size: 12px;
  color: #ff0000;
  align-self: flex-end;
}

.login-btn {
  background-color: #43afff;
  padding: 8px 3rem;
  font-family: "Helvetica 65 Medium", sans-serif;
  font-size: 16px;
  display: inline;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translate(-50%);
}
